body {
    font-family: 'Lobster', cursive;
}

.margin-top {
    margin-top: 25px;
}

.margin-bottom {
    margin-bottom: 90px;
}

.title {
    font-size: 70px;
}

.content {
    font-size: 35px;
}

/*.sport-pic {*/
/*    filter: blur(20px);*/
/*}*/