body {
    font-family: 'Lobster', cursive;
}

/*backgrong colors*/

.blue {
    background-color: #308FFF;
}

.bg-color {
    background-color: #8DCC32;
}

/*Margins*/

.margin-top {
    margin-top: 25px;
}

.padding-bottom {
    padding-bottom: 90px;
}

/*text*/

.title {
    font-size: 70px;
}

.content {
    font-size: 35px;
}

.sun {
    color: yellow;
}